{% extends 'base.html.twig' %}

{% block title %}New Filliere{% endblock %}

{% block body %}
    <h1>Create new Filliere</h1>

    {{ include('filliere/_form.html.twig') }}

    <a href="{{ path('app_filliere_index') }}">back to list</a>
{% endblock %}
